body {
    margin: 0;
    background: black;
    height: 100vh;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress_bar {
    width: 60%;
    height: 12px;
    max-width: 320px;
    border: 3px solid white;
    padding: 3px;
}

.progress_bar-value {
    width: 0;
    height: 100%;
    background-color: white;
}

.game-container {
    position: absolute;
    width: 100%;
    height: 100%;
}